# Version 3.1

## Default location for user data. It contains newly created user home folders.
proarc.users.home=${proarc.home}/users

## Fedora client credentials
fedora.client.url=http://localhost:8080/fedora
fedora.client.username=fedoraAdmin
fedora.client.password=paterkonias

## The comma separated list of autheticators for user login.
# Supported values are proarc (internal users), desa (remote users).
authenticators=proarc

## The comma separated list of digital object plugin IDs.
# Supported values are ndk, k4, desa-der, desa-des, oldprint,.bdm
digobject.plugins=ndk

## Bibliographic metadata catalogs
# lists catalog IDs to include in configuration

catalogs=ntk

#Z39.50
catalog.ntk.url=aleph.techlib.cz:9991
catalog.ntk.base=stk01
catalog.ntk.name=Katalog NTK
catalog.ntk.type=Z3950Catalog
catalog.ntk.fields=sysno,issn,isbn
catalog.ntk.field.sysno.query=@attrset bib-1 @attr 1=12 @attr 4=1 "%s"
catalog.ntk.field.sysno.title=SYSNO
catalog.ntk.field.issn.query=@attrset bib-1 @attr 1=8 @attr 4=1 "%s"
catalog.ntk.field.issn.title=ISSN
catalog.ntk.field.isbn.query=@attrset bib-1 @attr 1=7 @attr 4=1 "%s"
catalog.ntk.field.isbn.title=ISBN
# skladani atributu viz. redmine nebo  www.loc.gov/z3950/agency/bib1.html


## Import options

# A comma separated list of import profile IDs. Each ID is used as a prefix of keys
# to describe the profile (ID.label, ID.description, ID.file).
# ID.file has an URL syntax. Absolute and relative (to proarc.cfg) paths are possible.
# Referenced profile files have the same syntax as proarc.cfg.
import.profiles=profile.default, profile.default_archive_import

# profile.default is an ID of proarc.cfg. It is the default profile.
profile.default.label=Default
profile.default.description=Default profile


# Comma separated list of datastream IDs that are required on import.
import.requiredDatastreamId=ALTO, NDK_ARCHIVAL, NDK_USER, TEXT_OCR

# profile.default_archive_import is an ID of the default archive import profile
# that is based on proarc.cfg
profile.default_archive_import.label=Archive
profile.default_archive_import.description=Archive import profile

# The model ID of new pages created with the batch import.
import.page.modelId=model:page

## TEXT_OCR datastream
# The filename suffix to match file containing plain text OCR.
# In case of ABA00726009905207199800001.tif scan the import will look
# for related ABA00726009905207199800001.ocr.txt.
import.text_ocr.file.suffix=.txt
# The encoding of plain text OCR
# J.D. removed .ocr suffix
import.text_ocr.file.charset=UTF-8

## ALTO datastream
# The filename suffix to match file containing ALTO OCR.
# In case of ABA00726009905207199800001.tif scan the import will look
# for related ABA00726009905207199800001.ocr.xml.
# J.D removed .ocr suffix
import.alto.file.suffix=.xml

## JD. -  KAKADU JP2 conversion parameters

# (2.0) ID profilu externího procesu pro vytvoření archivní kopie.
import.ndk_archival.processor=kdu_ac
# (2.0) ID profilu externího procesu pro vytvoření uživatelské kopie.
import.ndk_user.processor=kdu_uc

KDU_HOME=/mnt/moon/Kakadu/
KDU_EXEC=${KDU_HOME}/converter/kakadu/kdu_compress
KDU_LIBPATH=${KDU_HOME}/converter/

##KDU_NDK_ARCHIVAL
# (2.0) Plná cesta spustitelného externího procesu.
processor.kdu_ac.exec=${KDU_EXEC}
# (2.0) Plná cesta k adresáři s knihovnami kdu. Nepovinné, pokud jsou knihovny dostupné pro tomcat.
processor.kdu_ac.environment.LD_LIBRARY_PATH=${KDU_LIBPATH}
# (2.0) Typ procesu.
processor.kdu_ac.type=kdu_compress
# (2.0) Parametry externího procesu.
processor.kdu_ac.arg=-quiet
processor.kdu_ac.arg=Cblk\={64\,64}
processor.kdu_ac.arg=Corder\=RPCL
processor.kdu_ac.arg=Stiles\={4096\,4096}
processor.kdu_ac.arg=Cprecincts\={256\,256}\,{256\,256}\,{128\,128}
processor.kdu_ac.arg=ORGtparts\=R
processor.kdu_ac.arg=Creversible\=no
processor.kdu_ac.arg=Clayers\=1
processor.kdu_ac.arg=Clevels\=5
processor.kdu_ac.arg=Cmodes\={BYPASS}
processor.kdu_ac.arg=Cuse_sop\=yes
processor.kdu_ac.arg=Cuse_eph\=yes

##KDU_NDK_USER
# (2.0) Plná cesta spustitelného externího procesu.
processor.kdu_uc.exec=${KDU_EXEC}
# (2.0) Plná cesta k adresáři s knihovnami kdu. Nepovinné, pokud jsou knihovny dostupné pro tomcat.
processor.kdu_uc.environment.LD_LIBRARY_PATH=${KDU_LIBPATH}
# (2.0) Typ procesu.
processor.kdu_uc.type=kdu_compress
# (2.0) Parametry externího procesu.
processor.kdu_uc.arg=-quiet
processor.kdu_uc.arg=Cblk\={64\,64}
processor.kdu_uc.arg=Corder\=RPCL
processor.kdu_uc.arg=Stiles\={4096\,4096}
processor.kdu_uc.arg=Cprecincts\={256\,256}\,{256\,256}\,{128\,128}
processor.kdu_uc.arg=ORGtparts\=R
processor.kdu_uc.arg=Creversible\=no
processor.kdu_uc.arg=Clayers\=1
processor.kdu_uc.arg=Clevels\=5
processor.kdu_uc.arg=Cmodes\={BYPASS}
processor.kdu_uc.arg=Cuse_sop\=yes
processor.kdu_uc.arg=Cuse_eph\=yes

#Při testech na platformě Windows se výjimečně stávalo, že proces `kdu_compress.exe` náhodně zamrzl nebo skončil předčasně. Proto byly přidány následující parametry:
```properties
# (2.0) Maximální očekávaná doba běhu procesu v ms; 0 - znamená že se čeká věčně; standardně se čeká 2 min.
processor.<id>.timeout=120000
# (2.0) počet pokusů opětovného spuštění procesu, pokud skončil neočekávaně; standardně 0
processor.<id>.retry=1


##URN:NBN resolvers

# Comma separated list of resolver profiles.
urnnbn.resolvers=nkp

# The registrar ID
urnnbn.resolver.nkp.registrar=aba013

urnnbn.resolver.nkp.title=Resolver NKP

# The resolver service URL.
urnnbn.resolver.nkp.url=https://resolver.nkp.cz/api/v3

# The resolver service user name.
urnnbn.resolver.nkp.user=NTK_digi

# The resolver service password.
urnnbn.resolver.nkp.passwd=ok0ex0

# Test resolver, remember to change urnb.resolvers=nkp to nkp_test
# The registrar ID
urnnbn.resolver.nkp_test.registrar=aba013

urnnbn.resolver.nkp_test.title=Resolver NKP

# The resolver service URL.
urnnbn.resolver.nkp_test.url=https://resolver-test.nkp.cz/api/v3

# The resolver service user name.
urnnbn.resolver.nkp_test.user=NTK_digi_test

# The resolver service password.
urnnbn.resolver.nkp_test.passwd=ir1Ril



# export.kramerius4.rename.<datastreamId>=krameriusDatastreamId
# mapping of ProArc datastream IDs to Kramerius IDs
export.kramerius4.rename.FULL=IMG_FULL
export.kramerius4.rename.PREVIEW=IMG_PREVIEW
export.kramerius4.rename.THUMBNAIL=IMG_THUMB

# default access policy used for exported object. Values: policy:private|policy:public|<empty>
export.kramerius4.policy=policy:private


